html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
    color: #000000;
    font-size: 25px;
    text-align: center;
}



/* Navbar */
.navbar {
    position: sticky;
    top: 25px;

    width: fit-content;
    max-width: 95%;
    margin: 0 auto;

    background-color: #ffce1b;
    border-radius: 15px;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);

    z-index: 1000;
}
.navbar ul{
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar a{
    display: block;
    padding: 12px 20px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
    white-space: nowrap;
}
.navbar a:hover{
    background: #d20a2e;
    color: #ffffff;
    transform: translateY(-1px);
}

@media (max-width: 768px){
    .navbar ul {
        gap: 0px;
    }
    .navbar a {
        padding: 10px 10px;
        font-size: 13px;
    }
    .navbar {
        top: 30px;
        position: sticky;
        max-width: 95%;
    }
}



/* Sections */
section {
    padding: 95px 40px;
}
section h2{
    font-size: clamp(45px, 10vw, 70px);
    font-weight: bolder;
    white-space: nowrap;
}

section h2::after {
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    background-color: #ffce1b;
    margin: 15px auto 0;
    border-radius: 999px;
}

@media (max-width: 768px){
    section{
        padding: 100px 20px;
    }
}


.links-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    padding-bottom: 30px;
    margin-right: 70px;
}

.link img{
    width: 100%;    
    max-width: 120px;     
    height: auto;
    margin-bottom: 8px;
    transition: 0.3s;
}
.link img:hover{
    max-width: 140px;
}

/* Home */
#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin:0;
}
#home .left {
    flex: 1;
    max-width: 600px;
}
#home .right {
    flex: 1;
    max-width: 600px;
}

#home h1{
    font-size: 180px;
    margin-bottom: -20px;
}
#home p{
    margin-left: 0;
}
#homepoint{
    color: #d20a2e;
    margin-left: -30px;
}
.HomeImg{
    display: block;
    margin: 0;
    width: 600px;
    max-width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin-top: 100px;
}

@media (max-width:768px){

    #home{
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        gap: 30px;
    }

    #home h1{
        font-size: 95px;
        margin-bottom: -15px;
    }
    #home p{
        margin-left: auto;
    }
    .HomeImg{
        margin-top: 0px;
    }

    .links-container{
        margin-right: 0px;
    }
    .link img{
        max-width: 80px;   
    }
    .link img:hover{
        max-width: 100px;
    }
}



/* About Me */
#about button{
    display: inline-block;
    margin-top: 25px;
    padding: 10px 16px;
    background-color:#d20a2e;
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
    border-radius: 15px;
    border-color: #00000000;
    box-shadow:0 8px 16px rgba(0, 0, 0, 0.2); 

    transition: 0.3s ease;
}
#about button:hover{
    font-size: 27px;
    font-weight: 500;
    cursor: pointer;
}
#about p{
    flex-wrap: wrap;
    margin: 0px auto 0px auto;
    width: 700px;
    max-width: 85%;
}
.randomcard{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    margin: 100px auto 0px auto;
    width: 700px;
    max-width: 90%;
    padding-bottom: 25px;
}
#randomtitle{
    padding-top: 25px;
    font-size: 35px;
}
#randomtitle::after {
    width: 60px;
    height: 4.5px;
}
.randomcard p{
    white-space: nowrap;
    font-size: 25px;
}



@media (max-width:768px){
    #randomtitle{
    font-size: 18px;
    margin: 0 15px 0 15px;
    }
    #randomtitle::after {
    width: 35px;
    height: 4.5px;
    }
    
    .randomcard p{
    padding-top: 25px;
    white-space: normal;
    font-size: 18px;
    }

    #about button{
        font-size: 20px;
    }
    #about button:hover{
        font-size: 22px;
    }
}



/* Projects */
.projects_container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.projects_container a{
    text-decoration: none;
    color: #000000;
}

.projectItem {
    width: 300px;
    height: 350px;

    background-color: #ffffff;

    border: 8px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;


    transition: 0.3s;
}
.projectItem:hover{
    transform: translateY(-8px);
    border: 8px solid #ffce1b;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.projectText{
    background-color: #ffffff;
    width: 70%;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

    height: 50px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s;
}



/* Each Projects Images*/
#gamesImg{
    background-image: url("Images/ProjectGroupsImg/Games.png");
    background-size: cover;
    background-position: center;
}
#websiteImg{
    background-image: url("Images/ProjectGroupsImg/Websites.png");
    background-size: cover;
    background-position: center;
}
#electronicsImg{
    background-image: url("Images/ProjectGroupsImg/Electronics.jpg");
    background-size: cover;
    background-position: center;
}


/* Contact */
#contact p{
    flex-wrap: wrap;
    margin: 30px auto 20px auto;
    width: 700px;
    max-width: 85%;
}
.contactButton{
    display: inline-block;
    margin-top: 25px;
    margin-top: 10px;
    padding: 10px 16px;
    background-color:#d20a2e;
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
    border-radius: 15px;
    border-color: #00000000;
    box-shadow:0 8px 16px rgba(0, 0, 0, 0.2); 

    transition: 0.3s ease;
}

.contactButton:hover{
    font-size: 27px;
    font-weight: 500;
    cursor: pointer;
}
@media (max-width:768px){
    #Small{
        font-size: 15px;
    }
}

#footer{
    color: #b9b9b9;
    font-size: 20px;
    bottom: 0;
    width: 100%;
}

@media (max-width:768px){
    #footer{
    color: #b9b9b9;
    font-size: 15px;
    }
}
